<!-- <form [formGroup]="heroForm">
    <input type="text" class="form-control" formControlName="name">
    <div *ngIf="name?.invalid && (name?.dirty || name?.touched) " class="alert alert-danger">
        <div *ngIf="name?.errors?.['required']">
            Name is required.
        </div>
        <div *ngIf="name?.errors?.['minlength']">
            Name must be at least 4 characters long.
        </div>
        <div *ngIf="name?.errors?.['forbiddenName']">
            Name cannot be Bob.
        </div>
    </div>
</form>

<pre>
  touched: {{ name?.touched }}  
  dirty: {{ name?.dirty }}  
  invalid: {{ name?.invalid }}  
  errors: {{ name?.errors | json }}
</pre> -->

<form *ngIf="heroForm" [formGroup]="heroForm">
    <input type="text" formControlName="name" class="form-control" />
    <div *ngIf="formControl_name?.invalid && (formControl_name?.dirty || formControl_name?.touched) "
        class="alert alert-danger">
        <div *ngIf="formControl_name?.errors?.['required']">
            Name is required
        </div>
        <div *ngIf="formControl_name?.errors?.['minlength']">
            Name must be at least 4 characters long.
        </div>

        <div *ngIf="formControl_name?.errors?.['forbiddenName']">
            Name cannot be bob
        </div>
    </div>
</form>
<pre>
  touched: {{ formControl_name?.touched }}  
  dirty: {{ formControl_name?.dirty }}  
  invalid: {{ formControl_name?.invalid }}  
  errors: {{ formControl_name?.errors | json }}
</pre>